<!-- grid_localization offline launch file, localization  -->
<launch>

	<node  pkg="grid_localization" type="grid_localization" name="grid_localization" output="screen">
		<param name="excute_mode" type="int" value="2" />
		<!-- excute_mode selection:
			0:get global point cloud map，
			1:generate grid map from global point cloud map，
			2:localization against reference map(gridmap/pointcloudmap)-->
		<param name="pointcloud_file" type="string" value="/home/guolindong/catkin_ws/src/grid_localization/pointcloud/cyberfly_g200_oct_cloud.ply" />
		<param name="gridmap_path" type="string" value="/home/guolindong/catkin_ws/src/grid_localization/map/cyberfly_g200_oct" />
		<param name="log_file_path" type="string" value="/home/guolindong/catkin_ws/src/grid_localization/save_log" />
		<param name="config_file_path" type="string" value="/home/guolindong/catkin_ws/src/grid_localization/config" />
	</node>

</launch>
